---
apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: {{ namespace }}
  labels:
    app: {{ filebeat.app }}
data:
  filebeat.yml: |-
    {{ lookup('template', 'filebeat-config.yml.j2') | indent(4) }}
