apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-config
  namespace: {{ namespace }}
  labels:
    app: {{ logstash.app }}
data:
  logstash.yml: |
    http.host: "0.0.0.0"
    path.config: /usr/share/logstash/pipeline
  logstash.conf: |-
    {{ lookup('template', 'logstash.conf.j2') | indent(4) }}
